build/
*~
xcuserdata
*.xccheckout
.DS_Store
Pods/
.idea

# Tuist
Derived/
*.xcodeproj
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
.tuist-cache/
graph.json
Extensions/

# Allow swiftpm Package.resolved and xcschemes inside xcworkspace
!*.xcworkspace/xcshareddata/
!*.xcworkspace/xcshareddata/swiftpm/
!*.xcworkspace/xcshareddata/swiftpm/Package.resolved
!*.xcworkspace/xcshareddata/xcschemes/
!*.xcworkspace/xcshareddata/xcschemes/*.xcscheme

# macOS AppleDouble metadata files
._*
